{% macro HeaderLogo(url) %}
  <a href="{{url}}" class="logo">Logo</a>
{% endmacro %}

{% macro Navigation(data) %}
  <div class="navbar js-navbar">
    <nav class="navbar__wrap">
      <ul class="navbar__list">

        {% for item in data %}
          <li class="navbar__item">
            <a href="{{ item.url }}" class="navbar__link">{{item.title}}</a>
          </li>
        {% endfor %}

      </ul>
    </nav>
  </div>
{% endmacro %}

{% macro NavToggler() %}
  <button class="nav-toggler js-nav-toggler">
    <span class="nav-toggler__icon"></span>
    <span class="nav-toggler__icon"></span>
    <span class="nav-toggler__icon"></span>
  </button>
{% endmacro %}

{% macro langDropdown(args) %}
  <div class="dropdown">
    <button
          class="dropdown__toggler"
          aria-label="Toggle open language list"
        >
          En
        </button>
    <div class="dropdown__list-wrap">
      <ul class="dropdown__list">
        <li class="dropdown__item">
          <button
                class="dropdown__btn"
                aria-label="Change language to English"
              >
                English
              </button>
        </li>
        <li class="dropdown__item">
          <button
                class="dropdown__btn"
                aria-label="Change language to Ukraine"
              >
                Ua
              </button>
        </li>
      </ul>
    </div>
  </div>
{% endmacro %}

{% macro Breadcrumbs(data) %}
  <div class="breadcrumbs">
    <ul class="breadcrumbs__list">

      {% for item in data %}
        <li class="breadcrumbs__item">
          <a href="{{ item.url }}" 
            class="breadcrumbs__link {{ 'disabled' if loop.index == data.length }}"
            >
            {{ item.title }}
          </a>
        </li>
      {% endfor %}

    </ul>
  </div>
{% endmacro %}