.btn {
  display: block;
  width: fit-content;
  padding: 17px 48px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: var(--white);
  transition-property: background-color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
  overflow: hidden;
  @include media-up(1025) {
    &:hover {
      border-color: transparent;

      &:before {
        width: 100% !important;
        height: 100% !important;
        opacity: 1 !important;
      }
    }

    &:not(.btn--no-pseudo) {
      &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 5;
        transform: translate(-50%, -50%);
        transition: all .3s ease;
        opacity: 0;
      }
    }
  }

  &__inner {
    font: inherit;
    color: inherit;
    transition: color .3s ease;
    position: relative;
    z-index: 10;
  }
}

.btn-transparent {
  border: 1px solid;

  &--white {
    color: rgba(253, 253, 253, 1);
    border-color: rgba(253, 253, 253, 0.32);

    &:before {
      background-color: var(--white);
    }

    @include media-up(1025) {
      &:hover {
        .btn__inner {
          color: var(--black);
        }
      }
    }
  }

  &--black {
    color: rgba(0, 0, 0, 1);
    border-color: rgba(0, 0, 0, 1);

    &:before {
      background-color: var(--black);
    }

    @include media-up(1025) {
      &:hover {
        .btn__inner {
          color: var(--white);
        }
      }
    }
  }
}

.btn {

}

