.link-primary {
  display: block;
  width: fit-content;
  margin-left: 19px;
  position: relative;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  transition: padding 0.25s ease;

  &--white {
    color: var(--white);

    &::before,
    &::after {
      background-color: var(--white);
    }
  }

  &--black {
    color: var(--black);

    &::before,
    &::after {
      background-color: var(--black);
    }
  }

  &:hover {
    @include media-up(1024) {
      &::before,
      &::after {
        width: 55%;
        top: calc(100% + 3px);
        transform: translate(0);
      }

      &::before {
        right: 50%;
      }

      &::after {
        left: 50%;
      }
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s ease;
    pointer-events: none;
  }

  &::before {
    width: 10px;
    right: calc(100% + 9px);
  }

  &::after {
    width: 50px;
    left: calc(100% + 9px);
  }
}
