{% import 'ui/media.twig' as media %}
{% import 'ui/buttons.twig' as btn %}
{% block variables %}{% endblock %}

<!Doctype html>
<html lang='en'>
{% include 'layout/modules/head.twig' %}
<body class='{{ bodyClass }}'>
<div class='wrapper'>
  {% include 'layout/modules/header.twig' %}
  <div class='content'>
    {% block content %}{% endblock %}
  </div>
  {% include 'layout/modules/footer.twig' %}
</div>
</body>
</html>
