{% extends 'layout/default.html'%}
{% set title='Modules preview'%}
{% set path='.'%}

{% block content %}
  <div class="preview-block" style='background-color: silver; padding-block: 150px; display: flex; justify-content: center;'>
    {% include 'components/dropdown.html' %}
  </div>
  <div class="preview-block" style='background-color: white; padding-block: 50px;'>
    {% include 'components/form.html' %}
  </div>
  <div class="preview-block" style='background-color: silver; padding-block: 150px; display: flex; justify-content: center;'>
    {% include 'components/dropdown.html' %}
  </div>
{% endblock %}

{% block modals %}
  {% include 'includes/index/modal.html' %}
{% endblock %}