{% extends '../layout/main.twig' %}
{% block variables %}
  {% set title = 'Index page' %}
  {% set bodyClass = 'index-page' %}
{% endblock %}

{% block content %}
  <h1>Is prod: {{ prod }}</h1>
  <h1>Is backend mode: {{ backend }}</h1>
  <h1>Current page is: {{ currentPage }}</h1>
{#  <div class='container'>#}
{#    {% include '../modules/show-case-product-list.twig' %}#}
{#  </div>#}
{% endblock %}
