{% extends 'layout/main.twig' %}
{% block variables %}
  {% set title = 'Index page' %}
  {% set bodyClass = 'home-page' %}
{% endblock %}

{% block content %}
  <h1>Is prod: {{ prod }}</h1>
  <h1>Is backend mode: {{ backend }}</h1>
  <h1>Current page is: {{ currentPage }}</h1>
{% endblock %}
