.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 125%;
  color: var(--white);
  @include media-breakpoint-down(lg) {
    font-size: 38px;
  }
}

.block-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;
  @include media-down(525) {
    font-size: 18px;
  }
}

.section-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 125%;
  color: var(--black);
  @include media-breakpoint-down(lg) {
    font-size: 32px;
  }

  &--light {
    color: var(--white);
  }
}
